[submodule "Software/gmock"]
	path = Software/gmock
	url = https://chromium.googlesource.com/external/googlemock
    ignore = dirty
[submodule "Software/gtest"]
	path = Software/gtest
	url = https://chromium.googlesource.com/external/googletest
    ignore = dirty
[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/queezythegreat/arduino-cmake.git
